receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  otlphttp/axiom:
    endpoint: https://api.axiom.co
    headers:
      Authorization: Bearer ${AXIOM_TOKEN}
      X-Axiom-Dataset: ${AXIOM_DATASET}

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlphttp/axiom]
